<h4>
  Radical Inclusion
</h4>
<p class="flow-text">
  Anyone may be a part of Uberburn. We welcome and respect the strange rider. No prerequisites exist for participation in Uberburn.
</p>
<h4>
  Gifting
</h4>
<p class="flow-text">
  Uberburn is devoted to acts of gift giving. The value of a gift is unconditional. Uberburn does not contemplate a return or an exchange for something of equal value.
</p>
<h4>
  Decommodification
</h4>
<p class="flow-text">
  In order to preserve the spirit of gifting, Uberburn seeks to create social environments that are unmediated by commercial sponsorships, transactions, or advertising except by Uber. We stand ready to protect our Uberburn from such exploitation. We resist the substitution of consumption for riding experience.
</p>
<h4>
  Radical Self-reliance
</h4>
<p class="flow-text">
  Uberburn encourages the individual to discover, exercise and rely on his or her inner resources.
</p>
<h4>
  Radical Self-expression
</h4>
<p class="flow-text">
  Radical self-expression arises from the unique gifts of Uberburn. No one other than the individual or Uberburn can determine its content. It is offered as a gift to others. In this spirit, the rider should respect the rights and liberties of the Art Car Driver.
</p>
<h4>
  Communal Effort
</h4>
<p class="flow-text">
  Uberburn values creative cooperation and collaboration. We strive to produce, promote and protect social rideshares, public transportation, Mutant Vehicles, and methods of transportation that support such interaction.
</p>
<h4>
  Civic Responsibility
</h4>
<p class="flow-text">
  We value civil society. Uberburn members who request rides assume responsibility for public transportation and endeavor to communicate ride sharing responsibilities to participants. They must also assume responsibility for conducting transportation in accordance with local, state and federal laws. Uberburn is not affiliated with the Department of Mutant Vehicles.
</p>
<h4>
  Leaving No Trace
</h4>
<p class="flow-text">
  Uberburn respects the environment. We are committed to leaving no physical trace of our activities wherever we ride. We clean up after ourselves and endeavor, whenever possible, to leave such destinations in a better state than when we found them.
</p>
<h4>
  Participation
</h4>
<p class="flow-text">
  Uberburn is committed to a radically participatory ethic. We believe that transformative change, whether in the individual or in society, can occur only through the medium of deeply personal transportation. We achieve being through riding. Everyone is invited to ride. Everyone is invited to their destination. We make the transportation real through actions that open the heart.
</p>
<h4>
  Immediacy
</h4>
<p class="flow-text">
  Immediate experience is, in many ways, the most important touchstone of value of Uberburn. We seek to overcome barriers that stand between us and the destination of our inner selves, the reality of those around us, participation in society, and contact with a natural world exceeding human powers. No ride can substitute for this experience.
</p>
