<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf6jp6l5uH2Tw4tfELb8hLH472oAu6mKY">
</script>
<script type="text/javascript" src="/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="/assets/js/underscore-contrib.min.js"></script>
<script type="text/javascript" src="/assets/js/geolocation-marker.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
