---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0px;
}

.full-container {
  display: relative;
  height: 0;
  overflow: hidden;
}

iframe {
  position: absolute;
  left:0;
  right:0;
  border:0;
  height: 100%;
  width: 100%;
}
